.pageHeaderTitleContainer{position:absolute;left:260px;top:0px;bottom:0px;width:200px;}
.pageHeaderTitle{position:absolute;left:0px;top:25px;font-size:24px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #777777;font-weight: bold;}
.orderContaienr{margin:1px auto;width:1200px;height:auto;min-height:550px;min-height:530px;display: table;}   
.orderFooterSection{width:100%;height:35px;line-height:35px;position:relative;}
.orderListSection{}
.orderItem{position: relative;width:100%;border:solid 1px #cccccc;}  
.orderItemTitle{position: relative;width:100%;height:40px;border-bottom:solid 1px #eeeeee;}
.orderItemSpaceBorder{position:relative;width:100%;height:10px;color:#ffffff;}  
.orderItemTitleOrderNumber{position: absolute;text-align: left;top: 0px;bottom: 0px;left: 20px;width: 400px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color: #666666;height:40px;line-height: 40px;} 
.orderItemTitlePayPrice{position: absolute;text-align: right;top: 0px;right: 50px;width: 200px;font-size: 16px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #FE6000;font-weight:600;height:40px;line-height: 40px;}
.payTypeSection{position: relative;width:100%;height:40px;}
.payTypeOther{position:absolute;top:0px;width:200px;bottom:0px;line-height:40px;text-align:center;z-index:1;font-size: 16px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;cursor:pointer;}
.payTypeCurrent{position:absolute;border:solid 1px #cccccc;border-bottom:none;top:0px;width:200px;bottom:0px;line-height:40px;text-align:center;z-index:3;font-size: 16px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;background-color:#ffffff;font-weight:600;}
.paySectionLine{position:absolute;border-bottom:solid 1px #cccccc; height:1px;bottom:0px;left:0px;z-index:2;}
.payCodeSection{position: relative;border:solid 1px #cccccc;border-top:none; height:500px;font-size: 16px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;} 
.alertOrderError{width:100%;height:300px;text-align:center;font-size: 16px;color: #666666;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;}

@media all and (min-width: 240px) and (max-width: 359px){
	.pageHeader{height:68px;}
	.headerMain{height:68px;}
	.headerBottom{height:48px;} 
	.headerBottomInner{height:46px;}
	.pageHeaderTitleContainer{left:110px;}
	.pageHeaderTitle{top:0px;bottom:0px;left:0px;right:0px;line-height:46px;font-size:16px;}
	.orderContaienr{margin:1px auto;width:100%;height:auto;min-height:300px;display: table;}   
	.orderFooterSection{width:100%;height:35px;line-height:35px;position:relative;}
	.orderListSection{}
	.orderItem{position: relative;width:100%;border:none;border-top:solid 1px #cccccc;border-bottom:none;}  
	.orderItemTitle{position: relative;width:100%;height:50px;border-bottom:none;}
	.orderItemSpaceBorder{position:relative;width:100%;height:5px;color:#ffffff;}  
	.orderItemTitleOrderNumber{position: absolute;text-align: left;top: 0px;height:25px;right:0px;left: 10px;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color: #666666; line-height: 25px;} 
	.orderItemTitlePayPrice{position: absolute;text-align: left;top: 25px;left: 10px;height:25px;right:0px;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #FE6000;font-weight:600; line-height: 25px;}
	.payTypeSection{position: relative;width:100%;height:241px;}
	.payTypeOther{position:absolute;top:0px;width:150px;bottom:0px;line-height:25px;text-align:center;background-color:#E4E4E4;z-index:1;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;cursor:pointer;}
	.payTypeCurrent{position:absolute;top:0px;left:10px;width:150px;height:26px;line-height:26px;text-align:center;z-index:3;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;font-weight:600;}
	.paySectionLine{position:absolute;height:1px;top:25px;left:10px;right:10px;z-index:2;}
	.payCodeSection{position:absolute;top:26px;height:215px;left:10px;right:10px;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;} 
	.alertOrderError{width:100%;height:215px;text-align:center;font-size: 13px;color: #666666;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;}
}

@media all and (min-width: 360px) and (max-width: 479px){
	.pageHeader{height:93px;}
	.headerMain{height:93px;}
	.headerBottom{height:73px;} 
	.headerBottomInner{height:71px;}
	.pageHeaderTitleContainer{left:150px;}
	.pageHeaderTitle{top:5px;bottom:0px;left:0px;right:0px;line-height:46px;font-size:16px;}
	.orderContaienr{margin:1px auto;width:100%;height:auto;min-height:300px;display: table;}   
	.orderFooterSection{width:100%;height:35px;line-height:35px;position:relative;}
	.orderListSection{}
	.orderItem{position: relative;width:100%;border:none;border-top:solid 1px #cccccc;border-bottom:none;}  
	.orderItemTitle{position: relative;width:100%;height:35px;border-bottom:none;}
	.orderItemSpaceBorder{position:relative;width:100%;height:5px;color:#ffffff;}  
	.orderItemTitleOrderNumber{position: absolute;text-align: left;top: 5px;height:25px;width:230px;left: 10px;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color: #666666; line-height: 25px;} 
	.orderItemTitlePayPrice{position: absolute;text-align: right;top: 5px;width: 120px;height:25px;right:10px;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #FE6000;font-weight:600; line-height: 25px;}
	.payTypeSection{position: relative;width:100%;height:256px;}
	.payTypeOther{position:absolute;top:0px;width:150px;bottom:0px;line-height:25px;text-align:center;background-color:#E4E4E4;z-index:1;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;cursor:pointer;}
	.payTypeCurrent{position:absolute;top:0px;left:10px;width:150px;height:26px;line-height:26px;text-align:center;z-index:3;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;font-weight:600;}
	.paySectionLine{position:absolute;height:1px;top:25px;left:10px;right:10px;z-index:2;}
	.payCodeSection{position:absolute;top:26px;height:230px;left:10px;right:10px;font-size: 11px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;} 
	.alertOrderError{width:100%;height:230px;text-align:center;font-size: 13px;color: #666666;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;}
}

@media all and (min-width: 480px) and (max-width: 639px){
	.pageHeader{height:93px;}
	.headerMain{height:93px;}
	.headerBottom{height:73px;} 
	.headerBottomInner{height:71px;}
	.pageHeaderTitleContainer{left:150px;}
	.pageHeaderTitle{top:5px;bottom:0px;left:0px;right:0px;line-height:46px;font-size:16px;}
	.orderContaienr{margin:1px auto;width:100%;height:auto;min-height:300px;display: table;}   
	.orderFooterSection{width:100%;height:35px;line-height:35px;position:relative;}
	.orderListSection{}
	.orderItem{position: relative;width:100%;border:none;border-top:solid 1px #cccccc;border-bottom:none;}  
	.orderItemTitle{position: relative;width:100%;height:35px;border-bottom:none;}
	.orderItemSpaceBorder{position:relative;width:100%;height:5px;color:#ffffff;}  
	.orderItemTitleOrderNumber{position: absolute;text-align: left;top: 5px;height:25px;width:300px;left: 10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color: #666666; line-height: 25px;} 
	.orderItemTitlePayPrice{position: absolute;text-align: right;top: 5px;width: 150px;height:25px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #FE6000;font-weight:600; line-height: 25px;}
	.payTypeSection{position: relative;width:100%;height:256px;}
	.payTypeOther{position:absolute;top:0px;width:150px;bottom:0px;line-height:25px;text-align:center;background-color:#E4E4E4;z-index:1;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;cursor:pointer;}
	.payTypeCurrent{position:absolute;top:0px;left:10px;width:150px;height:26px;line-height:26px;text-align:center;z-index:3;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;font-weight:600;}
	.paySectionLine{position:absolute;height:1px;top:25px;left:10px;right:10px;z-index:2;}
	.payCodeSection{position:absolute;top:26px;height:230px;left:10px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;} 
	.alertOrderError{width:100%;height:230px;text-align:center;font-size: 13px;color: #666666;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;}
}

@media all and (min-width: 640px) and (max-width: 767px){
	.pageHeader{height:93px;}
	.headerMain{height:93px;}
	.headerBottom{height:73px;} 
	.headerBottomInner{height:71px;}
	.pageHeaderTitleContainer{left:170px;}
	.pageHeaderTitle{top:8px;bottom:0px;left:0px;right:0px;line-height:46px;font-size:20px;}
	.orderContaienr{margin:1px auto;width:100%;height:auto;min-height:350px;display: table;}   
	.orderFooterSection{width:100%;height:35px;line-height:35px;position:relative;}
	.orderListSection{}
	.orderItem{position: relative;width:100%;border:none;border-top:solid 1px #cccccc;border-bottom:none;}  
	.orderItemTitle{position: relative;width:100%;height:35px;border-bottom:none;}
	.orderItemSpaceBorder{position:relative;width:100%;height:5px;color:#ffffff;}  
	.orderItemTitleOrderNumber{position: absolute;text-align: left;top: 5px;height:25px;width:300px;left: 10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color: #666666; line-height: 25px;} 
	.orderItemTitlePayPrice{position: absolute;text-align: right;top: 5px;width: 150px;height:25px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #FE6000;font-weight:600; line-height: 25px;}
	.payTypeSection{position: relative;width:100%;height:306px;}
	.payTypeOther{position:absolute;top:0px;width:150px;bottom:0px;line-height:25px;text-align:center;background-color:#E4E4E4;z-index:1;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;cursor:pointer;}
	.payTypeCurrent{position:absolute;top:0px;left:10px;width:150px;height:26px;line-height:26px;text-align:center;z-index:3;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;font-weight:600;}
	.paySectionLine{position:absolute;height:1px;top:25px;left:10px;right:10px;z-index:2;}
	.payCodeSection{position:absolute;top:26px;height:280px;left:10px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;} 
	.alertOrderError{width:100%;height:280px;text-align:center;font-size: 13px;color: #666666;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;}
}

@media all and (min-width: 768px) and (max-width: 999px){
	.pageHeader{height:118px;}
	.headerMain{height:118px;}
	.headerBottom{height:88px;} 
	.headerBottomInner{height:88px;}
	.pageHeaderTitleContainer{left:230px;}
	.pageHeaderTitle{top:15px;bottom:0px;left:0px;right:0px;line-height:46px;font-size:20px;}
	.orderContaienr{margin:1px auto;width:100%;height:auto;min-height:350px;display: table;}   
	.orderFooterSection{width:100%;height:35px;line-height:35px;position:relative;}
	.orderListSection{}
	.orderItem{position: relative;width:100%;border:none;border-top:solid 1px #cccccc;border-bottom:none;}  
	.orderItemTitle{position: relative;width:100%;height:35px;border-bottom:none;}
	.orderItemSpaceBorder{position:relative;width:100%;height:5px;color:#ffffff;}  
	.orderItemTitleOrderNumber{position: absolute;text-align: left;top: 5px;height:25px;width:300px;left: 10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color: #666666; line-height: 25px;} 
	.orderItemTitlePayPrice{position: absolute;text-align: right;top: 5px;width: 150px;height:25px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #FE6000;font-weight:600; line-height: 25px;}
	.payTypeSection{position: relative;width:100%;height:306px;}
	.payTypeOther{position:absolute;top:0px;width:150px;bottom:0px;line-height:25px;text-align:center;background-color:#E4E4E4;z-index:1;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;cursor:pointer;}
	.payTypeCurrent{position:absolute;top:0px;left:10px;width:150px;height:26px;line-height:26px;text-align:center;z-index:3;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;font-weight:600;}
	.paySectionLine{position:absolute;height:1px;top:25px;left:10px;right:10px;z-index:2;}
	.payCodeSection{position:absolute;top:26px;height:280px;left:10px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;} 
	.alertOrderError{width:100%;height:280px;text-align:center;font-size: 13px;color: #666666;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;}
}

@media all and (min-width: 1000px) and (max-width: 1199px){	 
	.pageHeader{height:118px;}
	.headerMain{height:118px;}
	.headerBottom{height:88px;} 
	.headerBottomInner{height:88px;}
	.pageHeaderTitleContainer{left:230px;}
	.pageHeaderTitle{top:15px;bottom:0px;left:0px;right:0px;line-height:46px;font-size:24px;}
	.orderContaienr{margin:1px auto;width:1000px;height:auto;min-height:350px;display: table;}   
	.orderFooterSection{width:100%;height:35px;line-height:35px;position:relative;}
	.orderListSection{}
	.orderItem{position: relative;width:100%;border:none;border-top:solid 1px #cccccc;border-bottom:none;}  
	.orderItemTitle{position: relative;width:100%;height:35px;border-bottom:none;}
	.orderItemSpaceBorder{position:relative;width:100%;height:5px;color:#ffffff;}  
	.orderItemTitleOrderNumber{position: absolute;text-align: left;top: 5px;height:25px;width:300px;left: 10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color: #666666; line-height: 25px;} 
	.orderItemTitlePayPrice{position: absolute;text-align: right;top: 5px;width: 150px;height:25px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #FE6000;font-weight:600; line-height: 25px;}
	.payTypeSection{position: relative;width:100%;height:306px;}
	.payTypeOther{position:absolute;top:0px;width:150px;bottom:0px;line-height:25px;text-align:center;background-color:#E4E4E4;z-index:1;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;cursor:pointer;}
	.payTypeCurrent{position:absolute;top:0px;left:10px;width:150px;height:26px;line-height:26px;text-align:center;z-index:3;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;font-weight:600;}
	.paySectionLine{position:absolute;height:1px;top:25px;left:10px;right:10px;z-index:2;}
	.payCodeSection{position:absolute;top:26px;height:280px;left:10px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;} 
	.alertOrderError{width:100%;height:280px;text-align:center;font-size: 13px;color: #666666;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;}
}

@media all and (min-width: 1200px) and (max-width: 4096px){
	.pageHeader{height:118px;}
	.headerMain{height:118px;}
	.headerBottom{height:88px;} 
	.headerBottomInner{height:88px;}
	.pageHeaderTitleContainer{position:absolute;left:260px;top:0px;bottom:0px;width:200px;}
	.orderContaienr{margin:1px auto;width:1000px;height:auto;min-height:350px;display: table;}   
	.orderFooterSection{width:100%;height:35px;line-height:35px;position:relative;}
	.orderListSection{}
	.orderItem{position: relative;width:100%;border:none;border-top:none;border-bottom:none;}  
	.orderItemTitle{position: relative;width:100%;height:35px;border-bottom:none;}
	.orderItemSpaceBorder{position:relative;width:100%;height:5px;color:#ffffff;}  
	.orderItemTitleOrderNumber{position: absolute;text-align: left;top: 5px;height:25px;width:300px;left: 10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color: #666666; line-height: 25px;} 
	.orderItemTitlePayPrice{position: absolute;text-align: right;top: 5px;width: 150px;height:25px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #FE6000;font-weight:600; line-height: 25px;}
	.payTypeSection{position: relative;width:100%;height:306px;}
	.payTypeOther{position:absolute;top:0px;width:150px;bottom:0px;line-height:25px;text-align:center;background-color:#E4E4E4;z-index:1;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;cursor:pointer;}
	.payTypeCurrent{position:absolute;top:0px;left:10px;width:150px;height:26px;line-height:26px;text-align:center;z-index:3;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;font-weight:600;}
	.paySectionLine{position:absolute;height:1px;top:25px;left:10px;right:10px;z-index:2;}
	.payCodeSection{position:absolute;top:26px;height:280px;left:10px;right:10px;font-size: 13px;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;color: #666666;} 
	.alertOrderError{width:100%;height:280px;text-align:center;font-size: 13px;color: #666666;font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;}
}
