@CHARSET "UTF-8";
body{ position:relative; overflow-y:auto; overflow-x:auto; background-color:#ffffff; font-size: 13px; font-family: "Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif;overflow-x:hidden;}
.pageHeader{ height:118px; width:100%; }
.headerMain{ position:relative;height:118px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; font-size:9px; overflow:hidden;}
.headerTop{ color:#000000; background-color:#dddddd; border-bottom:solid 1px #CCCCCC; position:absolute; height:30px; left:0px; right:0px; z-index:4; }
.headerRightTop{ position:absolute; top:0px; right:10px; height:30px; float:right; width:400px; }
.headerTopInner{ position:absolute; top:0px; width:100%; height:100%; left:0px; line-height:30px; }
.headerLeftTop{	position:absolute; width:420px; top:0px; left:10px; bottom:0px; height:100%; line-height:30px; text-align:left; font-size:12px; color:#000000; } 
.headerBottom{ background-color:#ffffff; position:absolute;	height:83px; width:100%; top:31px; left:0px; right:0px; z-index:4; }
.headerBottomInner{	position:relative; width:100%; height:81px; margin:1px auto; }
.headerLeftBottom{ position:absolute; width:320px; left:0px;height:100%;}
.headerLogo{ position:absolute;	left:60px; top:15px; border:0px; width:156px; }
.headerSysName{	position:absolute;display:none; left:120px; top:15px; font-size:27px; width:110px; text-align:left; font-family:'Microsoft YaHei',tahoma,arial,'Hiragino Sans GB',\5b8b体\4f53,sans-serif; }
.headerSysSubName{ position:absolute;display:none; left:120px; top:55px; width:160px; text-align:left; font-size:12px; font-family:arial,sans-serif; }
.headerRightBottom{ position:absolute; left:320px;right:0px; top:50px; height:34px; text-align:center;}
.headerRightBottomInner{ position:relative; width:100%; height:34px; margin:0 auto;}
.headerTitleItem{ position:relative; width:80px; height:100%; bottom:0px; display: inline-block; text-align:center;	color:#666666; float:left; }
.headerTitleItem a{	text-decoration:none; color:#666666; font-weight:500; }  
.headerTitleItemText{ font-size:15px; line-height:34px;	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\5b8b体\4f53,sans-serif; } 
.headerTitleItemText:hover{ color:#000000; font-weight:bold; }
.headerTitleItemActive{ background-color: #E3E4E5;}
.headerTitleItemActive a{ font-weight:bold; }
.sectionBlankSpace{	height:3px; width:100%; margin:1px auto; }  
.sectionBlankSpaceTopBorder{height:3px; border-top: solid 1px #E3E4E5; }
.sectionBlankSpaceBottomBorder{height:3px; border-bottom: solid 1px #E3E4E5; }
.headerSearchItem{ position:absolute; width:190px; height:34px; bottom:5px; right:0px; }
.headerSearchGroup{	position:relative; border:solid 1px #E3E4E5; width: 187px; height:30px; display:none;}
.headerSearchInputText{ position:absolute; border-width:0px; left:2px; top:1px; height: 26px; width:156px; font-size:12px; box-shadow: none; }  
.headerSearchButton{ position:absolute; border-width:0px; left:160px; top:1px; height: 28px; width:23px; box-shadow: none; background: #fafafa url(../images/search.png) center no-repeat; cursor:pointer; } 
.pageContent{ width:100%; height:auto; } 
.pageFooter{ height:90px; width:100%; } 
.footerLeft{ position:relative; display:none; }
.footerMain{ position:relative; height:100%; width:100%; margin:1px auto; }
.footerCenter{ height:100%; width:100%;	text-align:center; color:#999999; }
.footerRight{ position:absolute; display:none; }
.footerCopyright{ font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; line-height:30px; height:30px; color:#999999; }
.footerMenu{ font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; line-height:30px; height:30px; } 
.footerLink{ color:#999999; text-decoration:none; }
.toMainPage{ color:#000000;  text-decoration:none; }
.toMainPage:hover{	font-weight:bold; text-decoration:underline; }
.toLogin{ color:#000000; font-weight:bold; text-decoration:none; }
.toLogin:hover{	font-weight:bold; text-decoration:underline; }
.toReg{	color:#000000; font-weight:bold; text-decoration:none; }
.toReg:hover{ font-weight:bold;	text-decoration:underline; }
.toMainPage{ color:#000000;	text-decoration:none; }
.toMainPage:hover{ font-weight:bold; text-decoration:underline; } 
.toCart{ color:#000000;	text-decoration:none; }
.toCart:hover{font-weight:bold;	text-decoration:underline; }
.toLogout{ color:#000000; text-decoration:none; }
.toLogout:hover{ font-weight:bold; text-decoration:underline; }
.toHelp{ color:#000000; text-decoration:none; cursor:pointer; line-height:20px; }
.toHelp:hover{ font-weight:bold; text-decoration:underline; } 
.toOrderList{ color:#000000; text-decoration:none; cursor:pointer; line-height:20px; }
.toOrderList:hover{	font-weight:bold; text-decoration:underline; }
.toContainer{ cursor:pointer; line-height:20px;	width:200px; height:20px; top:0px; right:0px; position:absolute;}
.toCartLink{ height:20px; line-height:20px; color:#ffffff; font-size:12px; font-weight:bold;	width:60px;	text-decoration:none; position:relative; }
.toCartImage{ width:18px; height:16px; left:0px; bottom:0px; position:absolute; }
.toCartLineCount{ text-align:center; width:20px; left:20px; bottom:0px;	line-height:20px; position:absolute;} 
.sectionBlankSpace{	height:5px; width:1200px; margin:1px auto; }  
.sectionBlankSpaceTopBorder{height:5px; border-top: solid 1px #E3E4E5; }
.sectionBlankSpaceBottomBorder{height:5px; border-bottom: solid 1px #E3E4E5; }

/*首页*/
.contentMainContainer{position:relative;width:1200px; height:317px; display: table; text-align:center; margin:1px auto;}
.contentMainImgContainer{ width:960px; height:317px; text-align:right; float:right;display:inline; margin:0px auto; }
.contentMainImg{ width:950px; height:317px; }
.contentMainServiceContainer{ width:240px; height:317px; float:left; margin:1px auto; }
.contentMainServiceContainerInner{ width:238px; height:315px; border: solid 1px #E3E4E5; border-left-width:0px;border-right-width:0px; border-right-width:0px; border-left-width:0px;}
.mainServiceListHeader{	font-size:15px;	font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; height:40px;	line-height:40px; margin:0px; color:#666666; text-align:left; padding-left:20px; }
.mainServiceList{ margin:0px; margin-left:20px;	padding:0px; }
.mainServiceItem{list-style-type :none; font-size:13px; text-align:left; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color:#666666; line-height:27px; height:auto; }
.mainServiceTypeTitle {width:100%;font-weight: bold;} 
.mainServiceList a{	padding-right:15px; color:#666666; text-decoration:none; }
.mainServiceList a:hover{ color:#C81623; }
.mainServiceItem span{ padding-right:15px; float:right; color:#999999; font-family:"MS Gothic";}
.serviceListContaienr{ margin:1px auto;	width:1200px; height:200px;display: table;}
.serviceListBlock{ position:relative; height:100%; display: table-cell; text-align:center; vertical-align: top; width:33.3%;}
.serviceListBlockBorder{ width:1px;	border-left:solid 0px #E3E4E5; border-top-width:0px; height:100%;	display: table-cell; }
.serviceListHeader{	font-size:15px;	font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; height:30px;	line-height:30px; margin:0px; color:#666666; text-align:left; padding-left:15px; }
.serviceList{margin-left: 10px;width:90%; height:100%; display: inline-block; margin:0px; padding:0px; text-align:left; }
.serviceItem{position:relative; font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color:#666666; margin-left: 5px; margin-right: 5px; line-height:27px; height:27px; }
.serviceItem a{ color:#666666; text-decoration:none; }
.serviceItem a:hover{ color:#C81623;}
.serviceItemTime{position:absolute;right:5px;top:0px; width:75px;text-align:right; background-color:#ffffff;color:#999999;float:right;} 
.serviceItemH{ float:left; list-style:none; }
.linkContainer{ margin:1px auto; width:1200px; height:50px;	padding-top:5px;  font-size:13px; color:#999999; }
.linkItem{ margin-left:0px;	margin-right:5px; text-decoration:none; color:#999999; height:25px; line-height:25px; } 

@media all and (min-width: 240px) and (max-width: 359px){	
	.headerMain{ height:118px;}
	.headerTop{ height:20px; }
	.headerRightTop{ right:10px; height:20px; }
	.headerTopInner{ line-height:20px; }
	.headerLeftTop{ left:10px; line-height:20px;  font-size:12px; } 
	.headerBottom{ height:98px; top:21px; }
	.headerBottomInner{ height:96px; } 
	.headerLogo{ left:15px; top:10px; width:78px; }
	.headerSysName{ left:70px; top:8px; font-size:15px; width:110px; }
	.headerSysSubName{ left:70px; top:29px; width:160px; font-size:10px; }
	.headerRightBottom{left:0px; top:50px; height:50px; }
	.headerRightBottomInner{ width:240px; height:50px; }
	.headerTitleItem{ width:80px; height:25px; } 
	.headerTitleItemText{ font-size:13px; line-height:25px; }  
	.sectionBlankSpace{	height:3px; }  
	.sectionBlankSpaceTopBorder{height:3px; }
	.sectionBlankSpaceBottomBorder{height:3px; }
	.footerCopyright{ font-size:12px;} 
	.footerMenu{ font-size:12px;} 
	
	/*首页*/
	.contentMainContainer{ height:342px; width:100%;margin-width:0px;}
	.contentMainImgContainer{ width:240px; height:90px; display:block; float:none;}
	.contentMainImg{ width:240px; height:80px; }
	.contentMainServiceContainer{ height:252px; width:100%;float:none;}
	.contentMainServiceContainerInner{width:100%; height:250px; border: solid 1px #E3E4E5; border-left-width:0px;border-right-width:0px; border-right-width:0px; border-left-width:0px;}
	.mainServiceListHeader{	font-size:14px; height:40px; line-height:40px; padding-left:20px; }
	.mainServiceList{ margin-left:20px;margin-right:10px; }
	.mainServiceItem{ font-size:13px; line-height:25px;} 
	.mainServiceList a{	padding-right:10px; } 
	.mainServiceItem span{ padding-right:15px; }
	.serviceListContaienr{ height:680px; width:100%; display: block;}
	.serviceListBlock{ height:220px; width:100%; display: block;  text-align:center; vertical-align: top;width:100%;}
	.serviceListBlockBorder{ width:100%; border-top:solid 1px #E3E4E5;border-left-width:0px;border-right-width:0px; height:10px;	display: block; } 
	.serviceListHeader{	font-size:15px; height:30px; line-height:30px; padding-left:15px; }
	.serviceList{ height:160px; margin:0px; padding:0px; width:100%;}
	.serviceItem{  font-size:13px; margin-left: 10px; margin-right: 5px; line-height:25px; height:25px; }
	.serviceItemTime{ right:5px; width:80px;float:none;}  
	.linkContainer{ height:100px;width:100%;padding-top:5px; font-size:13px;margin-left:5px; margin-right:5px;}
	.linkItem{ margin-right:5px; height:25px; line-height:25px; } 
}

@media all and (min-width: 360px) and (max-width: 479px){
	.headerTop{ height:30px; }
	.headerRightTop{ right:10px; height:30px; }
	.headerTopInner{ line-height:30px; }
	.headerLeftTop{ left:10px; line-height:30px;  font-size:13px; height:30px; } 
	.headerBottom{ height:88px; top:31px; }
	.headerBottomInner{ height:86px; } 
	.headerLogo{ left:20px; top:10px; width:104px; }
	.headerSysName{ left:110px; top:8px; font-size:18px; width:110px; }
	.headerSysSubName{ left:110px; top:39px; width:160px; font-size:10px; }
	.headerRightBottom{left:0px; top:60px; height:25px;}
	.headerRightBottomInner{ width:360px; height:25px; }
	.headerTitleItem{ width:70px; height:25px; } 
	.headerTitleItemText{ font-size:15px; line-height:25px;}  
	.sectionBlankSpace{	height:3px; }  
	.sectionBlankSpaceTopBorder{height:3px; }
	.sectionBlankSpaceBottomBorder{height:3px; }
	.footerCopyright{ font-size:12px;} 
	.footerMenu{ font-size:12px;} 
	
	/*首页*/
	.contentMainContainer{ height:402px; width:100%;margin-width:0px;}
	.contentMainImgContainer{ width:360px; height:130px; display:block; float:none;}
	.contentMainImg{ width:360px; height:120px; }
	.contentMainServiceContainer{ height:292px; width:100%;float:none; }
	.contentMainServiceContainerInner{width:100%; height:290px; border: solid 1px #E3E4E5; border-left-width:0px;border-right-width:0px; border-right-width:0px; border-left-width:0px;}
	.mainServiceListHeader{	font-size:15px; height:40px; line-height:40px; padding-left:20px; }
	.mainServiceList{ margin-left:20px;margin-right:10px; }
	.mainServiceItem{ font-size:15px; line-height:30px;} 
	.mainServiceList a{ padding-right:10px; } 
	.mainServiceItem span{ padding-right:15px; }
	.serviceListContaienr{ height:770px; width:100%; display: block;}
	.serviceListBlock{ height:250px; width:100%; display: block;  text-align:center; vertical-align: top;width:100%;}
	.serviceListBlockBorder{ width:100%; border-top:solid 1px #E3E4E5;border-left-width:0px;border-right-width:0px; height:10px;	display: block; } 
	.serviceListHeader{	font-size:15px; height:30px; line-height:30px; padding-left:15px; }
	.serviceList{ height:160px; margin:0px; padding:0px; width:100%;}
	.serviceItem{  font-size:15px; margin-left: 10px; margin-right: 5px; line-height:30px; height:30px; }
	.serviceItemTime{ right:5px; width:100px;float:none;}  
	.linkContainer{ height:100px; width:100%;padding-top:5px; font-size:15px; margin-left:5px; margin-right:5px;}
	.linkItem{ margin-right:5px; height:30px; line-height:30px; } 
}

@media all and (min-width: 480px) and (max-width: 639px){	
	.headerTop{ height:30px; }
	.headerRightTop{ right:10px; height:30px; }
	.headerTopInner{ line-height:30px; }
	.headerLeftTop{ left:10px; line-height:30px;  font-size:13px; height:30px;} 
	.headerBottom{ height:88px; top:31px; }
	.headerBottomInner{ height:86px; }
	.headerLogo{ left:20px; top:10px; width:104px; }
	.headerSysName{ left:110px; top:13px; font-size:22px; width:110px; }
	.headerSysSubName{ left:110px; top:44px; width:160px; font-size:12px; }
	.headerRightBottom{left:0px; top:60px; height:25px;}
	.headerRightBottomInner{ width:480px; height:25px; }
	.headerTitleItem{ width:80px; height:25px; } 
	.headerTitleItemText{ font-size:16px; line-height:25px;}  
	.sectionBlankSpace{	height:3px; }  
	.sectionBlankSpaceTopBorder{height:3px; }
	.sectionBlankSpaceBottomBorder{height:3px; }
	.footerCopyright{ font-size:12px;} 
	.footerMenu{ font-size:12px;} 
	
	/*首页*/
	.contentMainContainer{ height:502px; width:100%;margin-width:0px;}
	.contentMainImgContainer{ width:480px; height:170px; display:block; float:none;}
	.contentMainImg{ width:480px; height:160px; }
	.contentMainServiceContainer{ height:322px; width:100%;float:none;}
	.contentMainServiceContainerInner{width:100%; height:320px; border: solid 1px #E3E4E5; border-left-width:0px;border-right-width:0px; border-right-width:0px; border-left-width:0px;}
	.mainServiceListHeader{	font-size:15px; height:40px; line-height:40px; padding-left:20px; }
	.mainServiceList{ margin-left:20px;margin-right:10px; }
	.mainServiceItem{ font-size:16px; line-height:35px;} 
	.mainServiceList a{ padding-right:10px; } 
	.mainServiceItem span{ padding-right:15px; }
	.serviceListContaienr{ height:765px; width:100%; display: block;}
	.serviceListBlock{ height:255px; width:100%; display: block;  text-align:center; vertical-align: top;width:100%;}
	.serviceListBlockBorder{ width:100%; border-top:solid 1px #E3E4E5;border-left-width:0px;border-right-width:0px; height:10px;	display: block; } 
	.serviceListHeader{	font-size:18px; height:35px; line-height:35px; padding-left:15px; }
	.serviceList{ height:220px; margin:0px; padding:0px; width:100%;}
	.serviceItem{  font-size:15px; margin-left: 10px; margin-right: 5px; line-height:35px; height:35px; }
	.serviceItemTime{ right:5px; width:100px;}  
	.linkContainer{ height:100px; width:100%;padding-top:5px; font-size:15px;float:none;margin-left:5px; margin-right:5px;}
	.linkItem{ margin-right:5px; height:25px; line-height:35px; } 
}

@media all and (min-width: 640px) and (max-width: 767px){
	.headerTop{ height:30px; }
	.headerRightTop{ right:10px; height:30px; }
	.headerTopInner{ line-height:30px; }
	.headerLeftTop{ left:10px; line-height:30px;  font-size:15px; height:30px; } 
	.headerBottom{ height:88px; top:31px; }
	.headerBottomInner{ height:86px; } 
	.headerLogo{ left:20px; top:10px; width:130px; }
	.headerSysName{ left:120px; top:10px; font-size:22px; width:110px; }
	.headerSysSubName{ left:120px; top:40px; width:160px; font-size:12px; }
	.headerRightBottom{left:0px; top:60px; height:25px;}
	.headerRightBottomInner{ width:480px; height:25px; }
	.headerTitleItem{ width:80px; height:25px; } 
	.headerTitleItemText{ font-size:16px; line-height:25px;}  
	.sectionBlankSpace{	height:3px; }  
	.sectionBlankSpaceTopBorder{height:3px; }
	.sectionBlankSpaceBottomBorder{height:3px; }
	.footerCopyright{ font-size:12px;} 
	.footerMenu{ font-size:12px;} 
	
	/*首页*/
	.contentMainContainer{ height:472px; width:100%;margin-width:0px;}
	.contentMainImgContainer{ width:480px; height:170px; display:block; float:none;}
	.contentMainImg{ width:480px; height:160px; }
	.contentMainServiceContainer{ height:292px; width:100%;float:none;}
	.contentMainServiceContainerInner{width:100%; height:290px; border: solid 1px #E3E4E5; border-left-width:0px;border-right-width:0px; border-right-width:0px; border-left-width:0px;}
	.mainServiceListHeader{	font-size:15px; height:40px; line-height:40px; padding-left:20px; }
	.mainServiceList{ margin-left:20px;margin-right:10px; }
	.mainServiceItem{ font-size:15px; line-height:35px;} 
	.mainServiceList a{	padding-right:10px; } 
	.mainServiceItem span{ padding-right:15px; }
	.serviceListContaienr{ height:765px; width:100%; display: block;}
	.serviceListBlock{ height:255px; width:100%; display: block;  text-align:center; vertical-align: top;width:100%;}
	.serviceListBlockBorder{ width:100%; border-top:solid 1px #E3E4E5;border-left-width:0px;border-right-width:0px; height:10px;	display: block; } 
	.serviceListHeader{	font-size:17px; height:35px; line-height:35px; padding-left:15px; }
	.serviceList{ height:220px; margin:0px; padding:0px; width:100%;}
	.serviceItem{  font-size:16px; margin-left: 10px; margin-right: 5px; line-height:35px; height:35px; }
	.serviceItemTime{ right:5px; width:100px;float:none;}  
	.linkContainer{ height:70px; width:100%;padding-top:5px; font-size:15px; margin-left:5px; margin-right:5px;}
	.linkItem{ margin-right:5px; height:25px; line-height:35px; } 
} 

@media all and (min-width: 768px) and (max-width: 999px){	 
	.pageHeader{ height:118px; width:100%; }
	.headerMain{ position:relative;height:118px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; font-size:9px; }
	.headerTop{ color:#000000; background-color:#dddddd; border-bottom:solid 1px #CCCCCC; position:absolute; height:30px; left:0px; right:0px; z-index:4; }
	.headerRightTop{ position:absolute; top:0px; right:10px; height:30px; float:right; width:400px; }
	.headerTopInner{ position:absolute; top:0px; width:100%; height:100%; left:0px; line-height:30px; }
	.headerLeftTop{	position:absolute; width:420px; top:0px; left:10px; bottom:0px; height:100%; line-height:30px; text-align:left; font-size:12px; color:#000000; } 
	.headerBottom{ background-color:#ffffff; position:absolute;	height:83px; width:100%; top:31px; left:0px; right:0px; z-index:4; }
	.headerBottomInner{	position:relative; width:100%; height:81px; margin:1px auto; }
	.headerLeftBottom{ position:absolute; width:320px; left:0px; height:100%; }
	.headerLogo{ position:absolute;	left:60px; top:15px; border:0px; width:156px;}
	.headerSysName{	position:absolute; left:120px; top:15px; font-size:27px; width:110px;}
	.headerSysSubName{ position:absolute; left:120px; top:55px; width:160px; font-size:12px; }
	.headerRightBottom{ position:absolute; left:320px; right:0px; height:34px; }
	.headerRightBottomInner{ position:absolute;	height:34px; bottom:0px; width:100%; }
	.headerTitleItem{ position:relative; width:70px; height:100%; bottom:0px; display: inline-block; text-align:center;	color:#666666; float:left; }
	.headerTitleItem a{	text-decoration:none; color:#666666; font-weight:500; } 
	.headerTitleItemActive{ background-color: #E3E4E5;}
	.headerTitleItemActive a{ font-weight:bold; }
	.headerTitleItemText{ font-size:14px; line-height:34px;	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\5b8b体\4f53,sans-serif; }
	.headerTitleItemText:hover{ color:#000000; font-weight:700; }
	.headerSearchItem{ position:absolute; width:190px; height:34px; bottom:5px; right:0px; }
	.headerSearchGroup{	position:relative; border:solid 1px #E3E4E5; width: 187px; height:30px; }
	.headerSearchInputText{ position:absolute; border-width:0px; left:2px; top:1px; height: 26px; width:156px; font-size:12px; box-shadow: none; }  
	.headerSearchButton{ position:absolute; border-width:0px; left:160px; top:1px; height: 28px; width:23px; box-shadow: none; background: #fafafa url(../images/search.png) center no-repeat; cursor:pointer; } 
	.pageFooter{ height:70px; width:100%; }
	.footerMain{ position:relative; height:100%; width:768px; margin:1px auto; }
	.footerLeft{ position:relative; display:none; }
	.footerCenter{ height:100%; width:100%;	text-align:center; color:#999999; }
	.footerRight{ position:absolute; display:none; }
	.footerCopyright{ font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; line-height:30px; height:30px; color:#999999; }
	.footerMenu{ font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; line-height:30px; height:30px; }
	.footerLink{ color:#999999; text-decoration:none; }
	.pageContent{ width:100%; height:auto; } 
	.sectionBlankSpace{	height:5px; width:1200px; margin:1px auto; }  
	.sectionBlankSpaceTopBorder{height:5px; border-top: solid 1px #E3E4E5; }
	.sectionBlankSpaceBottomBorder{height:5px; border-bottom: solid 1px #E3E4E5; }
	.toLogin{ color:#000000; font-weight:bold; text-decoration:none; }
	.toLogin:hover{	font-weight:bold; text-decoration:underline; }
	.toReg{	color:#000000; font-weight:bold; text-decoration:none; }
	.toReg:hover{ font-weight:bold;	text-decoration:underline; }
	.toMainPage{ color:#000000;	text-decoration:none; }
	.toMainPage:hover{ font-weight:bold; text-decoration:underline; }
	
	/*首页*/
	.contentMainContainer{ margin:1px auto;	width:768px; height:186px; display: table; }
	.contentMainImgContainer{ width:567px; height:186px; text-align:right; float:right;	display:inline; }
	.contentMainImg{ width:558px; height:186px; }
	.contentMainServiceContainer{ width:200px; height:186px; float:left; }
	.contentMainServiceContainerInner{ width:198px; height:186px; border: solid 1px #E3E4E5; }
	.mainServiceListHeader{	font-size:13px;	font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; height:23px;	line-height:23px; margin:0px; color:#666666; text-align:left; padding-left:15px; }
	.mainServiceList{ margin:0px; margin-left:20px;	padding:0px; }
	.mainServiceItem{ font-size:11px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color:#666666; line-height:20px;}
	.mainServiceList a{	padding-right:15px; color:#666666; text-decoration:none; }
	.mainServiceList a:hover{ color:#C81623; }
	.mainServiceItem span{ padding-right:15px; float:right; font-family: iconfont!important; }
	.serviceListContaienr{ margin:1px auto;	width:768px; height:180px;	display: table; }
	.serviceListBlock{ position:relative; height:100%; display: table-cell; text-align:center; vertical-align: top; width:33.3%;}
	.serviceListBlockBorder{ width:1px;	border-left:solid 0px #E3E4E5; border-top-width:0px; height:100%;	display: table-cell; }
	.serviceListHeader{	font-size:14px;	font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; height:30px;	line-height:30px; margin:0px; color:#666666; text-align:left; padding-left:15px; }
	.serviceList{margin-left: 10px;width:90%; height:100%; display: inline-block; margin:0px; padding:0px; text-align:left; }
	.serviceItem{ font-size:11px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color:#666666; margin-left: 5px; margin-right: 5px; line-height:27px; height:27px; }
	.serviceItemTime{ float:right; } 
	.serviceItemH{ float:left; list-style:none; }
	.linkContainer{ margin:1px auto; width:1200px; height:25px;	padding-top:5px; font-size:13px; color:#999999; }
	.linkItem{ margin-left:0px;	margin-right:5px; text-decoration:none; color:#999999; height:25px; line-height:25px; }
	.toCart{ color:#000000;	text-decoration:none; }
	.toCart:hover{font-weight:bold;	text-decoration:underline; }
	.toLogout{ color:#000000; text-decoration:none; }
	.toLogout:hover{ font-weight:bold; text-decoration:underline; }
	.toHelp{ color:#000000; text-decoration:none; cursor:pointer; line-height:20px; }
	.toHelp:hover{ font-weight:bold; text-decoration:underline; } 
	.toOrderList{ color:#000000; text-decoration:none; cursor:pointer; line-height:20px; }
	.toOrderList:hover{	font-weight:bold; text-decoration:underline; }
	.toContainer{ cursor:pointer; line-height:20px;	width:200px; height:20px; top:0px; right:0px; position:absolute;}
	.toCartLink{ height:20px; line-height:20px; color:#ffffff; font-size:12px; font-weight:bold;	width:60px;	text-decoration:none; position:relative; }
	.toCartImage{ width:18px; height:16px; left:0px; bottom:0px; position:absolute; }
	.toCartLineCount{ text-align:center; width:20px; left:20px; bottom:0px;	line-height:20px; position:absolute;} 	
} 

@media all and (min-width: 1000px) and (max-width: 1199px){	 
	.pageHeader{ height:118px; width:100%; }
	.headerMain{ position:relative;height:118px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; font-size:9px; }
	.headerTop{ color:#000000; background-color:#dddddd; border-bottom:solid 1px #CCCCCC; position:absolute; height:30px; left:0px; right:0px; z-index:4; }
	.headerRightTop{ position:absolute; top:0px; right:10px; height:30px; float:right; width:400px; }
	.headerTopInner{ position:absolute; top:0px; width:100%; height:100%; left:0px; line-height:30px; }
	.headerLeftTop{	position:absolute; width:420px; top:0px; left:10px; bottom:0px; height:100%; line-height:30px; text-align:left; font-size:12px; color:#000000; } 
	.headerBottom{ background-color:#ffffff; position:absolute;	height:83px; width:100%; top:31px; left:0px; right:0px; z-index:4; }
	.headerBottomInner{	position:relative; width:100%; height:81px; margin:1px auto; }
	.headerLeftBottom{ position:absolute; width:320px; left:0px; height:100%; }
	.headerLogo{ position:absolute;	left:60px; top:15px; border:0px; width:156px;}
	.headerSysName{	position:absolute; left:120px; top:15px; font-size:27px; width:110px;}
	.headerSysSubName{ position:absolute; left:120px; top:55px; width:160px; font-size:12px; }
	.headerRightBottom{ position:absolute; left:320px; right:0px; height:34px; }
	.headerRightBottomInner{ position:absolute;	height:34px; bottom:0px; width:100%; }
	.headerTitleItem{ position:relative; width:80px; height:100%; bottom:0px; display: inline-block; text-align:center;	color:#666666; float:left; }
	.headerTitleItem a{	text-decoration:none; color:#666666; font-weight:500; } 
	.headerTitleItemActive{ background-color: #E3E4E5;}
	.headerTitleItemActive a{ font-weight:bold; }
	.headerTitleItemText{ font-size:14px; line-height:34px;	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\5b8b体\4f53,sans-serif; }
	.headerTitleItemText:hover{ color:#000000; font-weight:700; }
	.headerSearchItem{ position:absolute; width:190px; height:34px; bottom:5px; right:0px; }
	.headerSearchGroup{	position:relative; border:solid 1px #E3E4E5; width: 187px; height:30px; }
	.headerSearchInputText{ position:absolute; border-width:0px; left:2px; top:1px; height: 26px; width:156px; font-size:12px; box-shadow: none; }  
	.headerSearchButton{ position:absolute; border-width:0px; left:160px; top:1px; height: 28px; width:23px; box-shadow: none; background: #fafafa url(../images/search.png) center no-repeat; cursor:pointer; } 
	.pageFooter{ height:70px; width:100%; }
	.footerMain{ position:relative; height:100%; width:1000px; margin:1px auto; }
	.footerLeft{ position:relative; display:none; }
	.footerCenter{ height:100%; width:100%;	text-align:center; color:#999999; }
	.footerRight{ position:absolute; display:none; }
	.footerCopyright{ font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; line-height:30px; height:30px; color:#999999; }
	.footerMenu{ font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; line-height:30px; height:30px; }
	.footerLink{ color:#999999; text-decoration:none; }
	.pageContent{ width:100%; height:auto; } 
	.sectionBlankSpace{	height:5px; width:1200px; margin:1px auto; }  
	.sectionBlankSpaceTopBorder{height:5px; border-top: solid 1px #E3E4E5; }
	.sectionBlankSpaceBottomBorder{height:5px; border-bottom: solid 1px #E3E4E5; }
	.toLogin{ color:#000000; font-weight:bold; text-decoration:none; }
	.toLogin:hover{	font-weight:bold; text-decoration:underline; }
	.toReg{	color:#000000; font-weight:bold; text-decoration:none; }
	.toReg:hover{ font-weight:bold;	text-decoration:underline; }
	.toMainPage{ color:#000000;	text-decoration:none; }
	.toMainPage:hover{ font-weight:bold; text-decoration:underline; }
	
	/*首页*/
	.contentMainContainer{ margin:1px auto;	width:1000px; height:250px; display: table; }
	.contentMainImgContainer{ width:760px; height:250px; text-align:right; float:right;	display:inline; }
	.contentMainImg{ width:750px; height:250px; }
	.contentMainServiceContainer{ width:240px; height:250px; float:left; }
	.contentMainServiceContainerInner{ width:238px; height:248px; border: solid 1px #E3E4E5; }
	.mainServiceListHeader{	font-size:14px;	font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; height:30px;	line-height:30px; margin:0px; color:#666666; text-align:left; padding-left:20px; }
	.mainServiceList{ margin:0px; margin-left:30px;	padding:0px; margin-right:20px;}
	.mainServiceItem{ font-size:13px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color:#666666; line-height:25px;}
	.mainServiceList a{	padding-right:15px; color:#666666; text-decoration:none; }
	.mainServiceList a:hover{ color:#C81623; }
	.mainServiceItem span{ padding-right:15px; float:right; font-family: iconfont!important; }
	.serviceListContaienr{ margin:1px auto;	width:1000px; height:190px;	display: table; }
	.serviceListBlock{ position:relative; height:100%; display: table-cell; text-align:center; vertical-align: top; width:33.3%;}
	.serviceListBlockBorder{ width:1px;	border-left:solid 0px #E3E4E5; border-top-width:0px; height:100%;	display: table-cell; }
	.serviceListHeader{	font-size:14px;	font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; height:30px;	line-height:30px; margin:0px; color:#666666; text-align:left; padding-left:15px; }
	.serviceList{margin-left: 10px;width:90%; height:100%; display: inline-block; margin:0px; padding:0px; text-align:left; }
	.serviceItem{ font-size:13px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color:#666666; margin-left: 5px; margin-right: 5px; line-height:27px; height:27px; }
	.serviceItemTime{ float:right; } 
	.serviceItemH{ float:left; list-style:none; }
	.linkContainer{ margin:1px auto; width:1200px; height:25px;	padding-top:5px; font-size:13px; color:#999999; }
	.linkItem{ margin-left:0px;	margin-right:5px; text-decoration:none; color:#999999; height:25px; line-height:25px; }
	.toCart{ color:#000000;	text-decoration:none; }
	.toCart:hover{font-weight:bold;	text-decoration:underline; }
	.toLogout{ color:#000000; text-decoration:none; }
	.toLogout:hover{ font-weight:bold; text-decoration:underline; }
	.toHelp{ color:#000000; text-decoration:none; cursor:pointer; line-height:20px; }
	.toHelp:hover{ font-weight:bold; text-decoration:underline; } 
	.toOrderList{ color:#000000; text-decoration:none; cursor:pointer; line-height:20px; }
	.toOrderList:hover{	font-weight:bold; text-decoration:underline; }
	.toContainer{ cursor:pointer; line-height:20px;	width:200px; height:20px; top:0px; right:0px; position:absolute;}
	.toCartLink{ height:20px; line-height:20px; color:#ffffff; font-size:12px; font-weight:bold;	width:60px;	text-decoration:none; position:relative; }
	.toCartImage{ width:18px; height:16px; left:0px; bottom:0px; position:absolute; }
	.toCartLineCount{ text-align:center; width:20px; left:20px; bottom:0px;	line-height:20px; position:absolute;} 	
} 

@media all and (min-width: 1200px) and (max-width: 4096px){	 
	.pageHeader{ height:118px; width:100%; }
	.headerMain{ position:relative;height:118px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; font-size:9px; }
	.headerTop{ color:#000000; background-color:#dddddd; border-bottom:solid 1px #CCCCCC; position:absolute; height:30px; left:0px; right:0px; z-index:4; }
	.headerRightTop{ position:absolute; top:0px; right:10px; height:30px; float:right; width:400px; }
	.headerTopInner{ position:absolute; top:0px; width:100%; height:100%; left:0px; line-height:30px; }
	.headerLeftTop{	position:absolute; width:420px; top:0px; left:10px; bottom:0px; height:100%; line-height:30px; text-align:left; font-size:12px; color:#000000; } 
	.headerBottom{ background-color:#ffffff; position:absolute;	height:83px; width:100%; top:31px; left:0px; right:0px; z-index:4; }
	.headerBottomInner{	position:relative; width:100%; height:81px; margin:1px auto; }
	.headerLeftBottom{ position:absolute; width:320px; left:0px; height:100%; }
	.headerLogo{ position:absolute;	left:60px; top:15px; border:0px; width:156px;}
	.headerSysName{	position:absolute; left:120px; top:15px; font-size:27px; width:110px;}
	.headerSysSubName{ position:absolute; left:120px; top:55px; width:160px; font-size:12px; }
	.headerRightBottom{ position:absolute; left:320px; right:0px; height:34px; }
	.headerRightBottomInner{ position:absolute;	height:34px; bottom:0px; width:100%; }
	.headerTitleItem{ position:relative; width:80px; height:100%; bottom:0px; display: inline-block; text-align:center;	color:#666666; float:left; }
	.headerTitleItem a{	text-decoration:none; color:#666666; font-weight:500; } 
	.headerTitleItemActive{ background-color: #E3E4E5;}
	.headerTitleItemActive a{ font-weight:bold; }
	.headerTitleItemText{ font-size:15px; line-height:34px;	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\5b8b体\4f53,sans-serif; }
	.headerTitleItemText:hover{ color:#000000; font-weight:700; }
	.headerSearchItem{ position:absolute; width:190px; height:34px; bottom:5px; right:0px; }
	.headerSearchGroup{	position:relative; border:solid 1px #E3E4E5; width: 187px; height:30px; }
	.headerSearchInputText{ position:absolute; border-width:0px; left:2px; top:1px; height: 26px; width:156px; font-size:12px; box-shadow: none; }  
	.headerSearchButton{ position:absolute; border-width:0px; left:160px; top:1px; height: 28px; width:23px; box-shadow: none; background: #fafafa url(../images/search.png) center no-repeat; cursor:pointer; } 
	.pageFooter{ height:70px; width:100%; }
	.footerMain{ position:relative; height:100%; width:1200px; margin:1px auto; }
	.footerLeft{ position:relative; display:none; }
	.footerCenter{ height:100%; width:100%;	text-align:center; color:#999999; }
	.footerRight{ position:absolute; display:none; }
	.footerCopyright{ font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; line-height:30px; height:30px; color:#999999; }
	.footerMenu{ font-size:12px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; line-height:30px; height:30px; }
	.footerLink{ color:#999999; text-decoration:none; }
	.pageContent{ width:100%; height:auto; } 
	.sectionBlankSpace{	height:5px; width:1200px; margin:1px auto; }  
	.sectionBlankSpaceTopBorder{height:5px; border-top: solid 1px #E3E4E5; }
	.sectionBlankSpaceBottomBorder{height:5px; border-bottom: solid 1px #E3E4E5; }
	.toLogin{ color:#000000; font-weight:bold; text-decoration:none; }
	.toLogin:hover{	font-weight:bold; text-decoration:underline; }
	.toReg{	color:#000000; font-weight:bold; text-decoration:none; }
	.toReg:hover{ font-weight:bold;	text-decoration:underline; }
	.toMainPage{ color:#000000;	text-decoration:none; }
	.toMainPage:hover{ font-weight:bold; text-decoration:underline; }
	
	/*首页*/
	.contentMainContainer{ margin:1px auto;	width:1200px; height:317px; display: table; }
	.contentMainImgContainer{ width:960px; height:317px; text-align:right; float:right;	display:inline; }
	.contentMainImg{ width:950px; height:317px; }
	.contentMainServiceContainer{ width:240px; height:317px; float:left; }
	.contentMainServiceContainerInner{ width:238px; height:315px; border: solid 1px #E3E4E5; }
	.mainServiceListHeader{	font-size:15px;	font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; height:40px;	line-height:40px; margin:0px; color:#666666; text-align:left; padding-left:15px; }
	.mainServiceList{ margin:0px; margin-left:20px;margin-right:10px;	padding:0px; }
	.mainServiceItem{ font-size:13px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color:#666666; line-height:27px; }
	.mainServiceList a{	padding-right:15px; color:#666666; text-decoration:none; }
	.mainServiceList a:hover{ color:#C81623; }
	.mainServiceItem span{ padding-right:15px; float:right; font-family: iconfont!important; }
	.serviceListContaienr{ margin:1px auto;	width:1200px; height:200px;	display: table; }
	.serviceListBlock{ position:relative; width:50%; height:100%; display: table-cell; text-align:center; vertical-align: top; width:33.3%;}
	.serviceListBlockBorder{ width:1px;	border-left:solid 0px #E3E4E5; border-top-width:0px; height:100%;	display: table-cell; }
	.serviceListHeader{	font-size:15px;	font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; height:30px;	line-height:30px; margin:0px; color:#666666; text-align:left; padding-left:15px; }
	.serviceList{margin-left: 10px;width:90%; height:100%; display: inline-block; margin:0px; padding:0px; text-align:left; }
	.serviceItem{ font-size:13px; font-family:"Microsoft YaHei","lucida grande", tahoma, verdana, arial, sans-serif; color:#666666; margin-left: 5px; margin-right: 5px; line-height:27px; height:27px; }
	.serviceItemTime{ float:right; } 
	.serviceItemH{ float:left; list-style:none; }
	.linkContainer{ margin:1px auto; width:1200px; height:25px;	padding-top:5px; font-size:13px; color:#999999; }
	.linkItem{ margin-left:0px;	margin-right:5px; text-decoration:none; color:#999999; height:25px; line-height:25px; }
	.toCart{ color:#000000;	text-decoration:none; }
	.toCart:hover{font-weight:bold;	text-decoration:underline; }
	.toLogout{ color:#000000; text-decoration:none; }
	.toLogout:hover{ font-weight:bold; text-decoration:underline; }
	.toHelp{ color:#000000; text-decoration:none; cursor:pointer; line-height:20px; }
	.toHelp:hover{ font-weight:bold; text-decoration:underline; } 
	.toOrderList{ color:#000000; text-decoration:none; cursor:pointer; line-height:20px; }
	.toOrderList:hover{	font-weight:bold; text-decoration:underline; }
	.toContainer{ cursor:pointer; line-height:20px;	width:200px; height:20px; top:0px; right:0px; position:absolute;}
	.toCartLink{ height:20px; line-height:20px; color:#ffffff; font-size:12px; font-weight:bold;	width:60px;	text-decoration:none; position:relative; }
	.toCartImage{ width:18px; height:16px; left:0px; bottom:0px; position:absolute; }
	.toCartLineCount{ text-align:center; width:20px; left:20px; bottom:0px;	line-height:20px; position:absolute;} 	
}